*,
*::before,
*::after {
    box-sizing: border-box;
}



@font-face {
    font-family: "Roboto Bold";
    src: url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff');
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}



@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

:root {
    --background-blue: #3A5BC7;
    --background-red: #D13415;
    --background-white: #fdf1f1;
    --text-color: #191919;
    --decoration-brown: #D2C7AE;

}


.sr-only {
    background-color: #ffffff;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/* 
.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  } */

  
body {
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory; 
    overflow-y: scroll; 
    font-family: "Roboto";
}

section {
  height: 100vh; 
  width: 100%;
  scroll-snap-align: start; 
  outline: none; 
}

.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    color: var(--background-white);
    font-family: "Bebas Neue", serif;
    background-color: var(--text-color);
    max-width: 900px;
    margin-inline: auto;
    padding: 15px;
}


.container {
    background-image: url(img/img-noise-2000x200-red.png);
    position: relative; 
    overflow: hidden;
    height: 800px;
    max-width: 2000px;
    padding: 20px 0 0 20px;
}

.container h1 {
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 0;
}

.subtitle-home{
    font-size: 2rem;
    margin-top: 0;
    font-weight: normal;
}


.uppercase {
    text-transform: uppercase;
    margin: 0;
}

.hand-image {
    width: 500px;
    position: absolute;
    top: 20px;
    transform: rotate(-90deg);
    right: -35px;
}


.definition {
    height: 70vh;
    background-image: url(img/img-noise-2000x728-white.png);
    border: var(--text-color) solid 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.img-def{
    max-width: 600px;
    position: absolute;
    left: 10px;
}

.txt-def{
    max-width: 800px;
    margin-left: 200px;
}

.txt-def h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.txt-def p{
    font-size: 1.2rem;
}


.txt-def ol {
    list-style: none; 
    padding: 0;
    font-size: 1.2rem;
    margin-bottom: 50px;
  }

  .txt-def ol li{
    counter-increment: list-item;
    margin-bottom: 30px;
    padding-left: 3em; 
    position: relative;
    display: flex;
    align-items: center;

  }

  .txt-def ol li::before {
    content: counter(list-item);
    background-color: var(--background-blue);
    color: var(--decoration-brown); 
    border-radius: 50%; 
    width: 2em;
    height: 2em; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
    position: absolute; 
    left: 0; 
  }



.electionrate {
    background-image: url(img/img-noise-2000x200-red.png);
    padding: 30px;
}

.electionrate h3{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
}

.electionrate .src-map{
    padding: 15px;
    max-width: 250px;
    background-color: var(--background-blue);
    font-weight: bold;
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
    color: var(--background-white);
    margin-inline: auto;
    justify-content: center;
}




.electionrate .src-map a {
    color: var(--background-white);
    font-weight: normal;
}


.electionrate  .src-map a:hover{
    color: var(--background-red);
}


.regionalrates {
    background-image: url(img/noise2000x728.png);
    padding: 30px;
   
}

.frenchmap{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.today {
    height: fit-content;
    background-image: url(img/img-noise-2000x728-white.png);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; 
    gap: 20px;
    padding-top: 20px;
}

.txt-today {
    max-width: 900px;
    margin-bottom: 50px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.txt-today p{
    text-indent: 20px;
    margin-top: 0;
}


.txt-today h3 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.fists{
    height: 150px;
    transform: rotate(90deg);
    margin: 0;
    align-self: center;
    display: flex;
}


.loudspeaker {
    height: 400px;
    margin: 0;
    align-self: flex-end;
}

@media (max-width: 1300px) {
    .today {
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding-inline: 20px;
    }
    .loudspeaker {
        align-self: center;
    }
    .fists{
        display: none;
    }
}



@media (max-width: 880px) {
    .canvas{
        max-width: 600px;
    }
}


@media (max-width: 620px) {
    .canvas{
        max-width: 500px;
    }
}


h2{
    margin: 0;
}


footer {
    background-color: black;
    height: 28vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright{
    margin: 0;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 50px;
    justify-content: center;
    margin-top: 30px;
}

.contact-footer{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    max-width: 700px;
    margin-inline: auto;
}


.contact{
    color: var(--background-white);
    text-align: center;
}

.contact p{
    margin-bottom: 0;
}

.contact i {
    font-size: 2.5rem;
    color: var(--background-white);
    transition: color 0.3s ease;
}


.contact i:hover {
    font-size: 2.5rem;
    color: var(--background-blue);
}


footer ul a,
.copyright{
    color: var(--background-white);
    display: flex;
    justify-content: center;
}

#map {
    height: 600px;
    max-width:1000px;
  }

/*----------------------------------------------*/

  
  
canvas {
    margin-right: 50px;
    background-color: white; 
    padding: 10px; 

}
  


.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    display: block;
    text-align: center;
    font-size: 2rem;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 35px;
    height: 35px;
    border-bottom: 6px solid var(--text-color);
    border-right: 6px solid var(--text-color);
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }


    50% {
        opacity: 1;
    }


    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}


@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }


    50% {
        opacity: 1;
    }


    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}


@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }


    50% {
        opacity: 1;
    }


    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }}


.logo{
    background-color: #fff;
    padding: 15px;
}


/*tableau*/

table {
    border-collapse: collapse;
    max-width: 300px;
    margin-top: 20px;
    font-size: 0.8rem;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: var(--background-blue);
    font-weight: bold;
    color: var(--background-white);
  }


  .evolution-data{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .tab{
    background-color: var(--background-white);
    padding: 25px;
    padding-top: 0;
  }

  caption{
    font-weight: bold;
    color: #666666;
    margin-bottom: 10px;
  }

  .imp-terms{
    font-weight: bold;
  }

  .txt-today a{
    color: var(--background-red);
    font-weight: bold;
    transition: color 0.8 ease-in;
  }

  
  .txt-today a:hover{
    color: var(--background-blue);
    font-weight: bold;
  }
